
<input type="text" name="search" placeholder="Search" (input)="onSearchChange($event)" />
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="recipesFiltered$ | async as recipes">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let recipe of recipes">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{recipe.name}}</mat-card-title>
            </mat-card-header>
            <img class="fixed-size-image" mat-card-image src={{recipe.image}} alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{recipe.description}}
              </p>
              <mat-chip-listbox aria-label="Fish selection"  *ngIf="recipe.tags">
                <mat-chip-option color="accent" *ngFor="let tag of recipe.tags "> {{tag}}</mat-chip-option>
              </mat-chip-listbox>
            </mat-card-content>
            <mat-card-actions>
                <button  mat-raised-button>  <a [routerLink]="['/recipe', recipe.id]">Details</a></button>
              <button mat-raised-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
      </div>
    </div>
  </div>