<ng-container *ngIf="recipe">
  <mat-card (click)="goToPage(recipe.id)">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ recipe.image_url }}" alt="{{ recipe.title }}" />
    <mat-card-content>
      <p>
        {{ recipe.description }}
      </p>
      <mat-chip-set *ngIf="recipe.categories">
        <mat-chip class="example-box" *ngFor="let cat of recipe.categories">
          {{ cat }}
        </mat-chip>
      </mat-chip-set>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goToPage(recipe.id)">
        Details
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
