:host {
  display: flex;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  align-self: center;
}

mat-card {
  padding: 16px;
  flex: 1
}

mat-card-header{
  align-self: center;
}

mat-card-title {
  color: var(--text-color);
  padding-bottom: 16px;
  font-size: 18px;
}

mat-card-actions {
  margin-top: 16px;
}

mat-card-content {
  flex-grow: 1;
}

.mdc-card__actions {
  align-self: center;
}