:host {
  display: flex;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  align-self: center;
}

mat-card {
  padding: 16px;
}

mat-card-title {
  color: #43484d;
}

mat-card-actions {
  margin-top: 16px;
}

mat-card-content {
  flex-grow: 1;
}

.mdc-card__actions {
  align-self: center;
}