<mat-form-field appearance="fill" color="primary">
  <mat-label>Filter recipes</mat-label>
  <input matInput (input)="onSearchChange($event)" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="content">
  <div *ngIf="recipesFiltered$ | async as recipes" class="cards">
    <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe"
      (cardClicked)="goToPage($event)"></app-recipe-card>
  </div>
</div>

<div class="alert" *ngIf="errorMessage">
  <strong>Error!</strong>
  <span> {{ errorMessage}}</span>
</div>