:host {
  padding: 32px;
}

.content {
  padding: 24px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  cursor: pointer;
}

.alert {
  color: #f44336;
  margin-left: 32px;
}

@media only screen and (min-width: 300px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
