:host {
  padding: 32px;
  position: relative;
  top: 7em
}

.content {
  padding: 24px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  cursor: pointer;
}

.alert {
  color: var(--text-alert);
  margin-left: 24px;
}

.info{
 display:flex;

 div {
  margin-left: 8px;
 }
}

@media only screen and (min-width: 300px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
