@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    color: #43484d;
    line-height: 24px;
    background: whitesmoke;
}
